*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    list-style: none;
    position: relative;
    background-color: antiquewhite;
    padding: 12px 20px;
    margin-bottom: 0rem;
}

.menu{
    display: flex;
}

.menu>li{
    padding-left: 30px;
}

.menu>li>a{
    display: inline-block;
    text-decoration: none;
    position: relative;
    color: black;
}

.open-menu, .close-menu{
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu{
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
}

.close-menu{
    top: 20px;
    right: 20px;
}

#check{display: none;}

.logo{
    display: block;
    font-weight: bold;
    font-size: 35px
}


.home{
    display: none;
}
.menu{
    font-size: 20px;
    transition: 0.6s;
    line-height: 46px;
}

.main-flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}




.item-flex3,.item-flex4,.item-flex5,.item-flex6,.item-flex7,
.item-flex2,
.item-flex1{
 text-align: center;
}

.main-footer{
    border: 1px solid;
    width: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    background-color: black;
}

.item-footer{
    color: aliceblue;
    padding-bottom: 30px;
}
.item-footerlogo{
    font-size: 25px;
    padding-top: 30px;
    color: aliceblue;
    padding-bottom: 30px;
    transition: 0.6s;
}

/*mobile*/
@media all and (max-width: 748px) {
   
    .img-container{
        font-size: 20px;
        transition: 0.6s;
    }
    .b{
        font-size: 16px;
        transition: 0.6s;
    }

   
    b{
        font-size: 13px;
        transition: 0.6s;
    }

    .tht-contain{
        font-size: 11px;
        transition: 0.6s;
    }

   .item-footer{
    font-size: 13px;
    transition: 0.6s;
   }

   .item-footerlogo{
    font-size: 18px;
    transition: 0.6s;
   }
}

/*Tablet*/
@media all and (min-width: 748px) and (max-width:1024px) {
   
        
        .img-container{
            transition: 0.6s;
        }
        .b{
            transition: 0.6s;
        }
    
        b{
            transition: 0.6s;
        }
    
        .tht-contain{
            transition: 0.6s;
        }
    
       .item-footer{
        transition: 0.6s;
       }
    
       .item-footerlogo{
        transition: 0.6s;
       }
}


