@media screen {
    #demo-id{
        border: 9px;
   }
}

@media screen {
    #demo-id1{
        border: 1px;
   }
}

#demo-id{
     border: 10px;
}

#demo-id1 {
    border: 70px;
}


body{
    background-color: antiquewhite;
}


@media all and (max-width: 320px) and (min-width:20opx){
    body{
        background-color:aquamarine;
    }
}