/*laptop*/
.div {
    background-color: #4CAF50;
    border: 1px solid;
    width: 100% auto;
    height: 60px auto;
}

.div1 {
    background-color: #FF9800;
    border: 1px solid;
    margin: 0 auto;
    width: 75% auto;
    height: 97px auto;
}

.div2 {
    background-color: #da952d;
    border: 1px solid;
    width: 100% auto;
    height: 32px auto;
    text-align: center;
    padding: 10px;
}

/*Mobile*/
@media screen and (max-width: 768px) {
    h2 {
        text-align: center;
    }
}

/*tablet*/
@media all and (min-width: 768px) and (max-width: 1024px) {
    .div{
        color: aliceblue;
    }

    .div1{
        color: aliceblue;
    }

    .div2{
        color: aliceblue;
    }
}